[run]
# Measure branch coverage
branch = true
# Don't profile third-party code
omit =
    rhino/vendor/mimeparse.py
    examples/wiki/storage.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Exclude non-runnable code
    if __name__ == .__main__.:
