# Install Rhino itself
-e .

# Install development requirements
coverage
mock
pytest
pytest-cov

# Install requirements for examples
html

# Install requirements for extensions
beaker
jinja2
sqlalchemy

# Install requirements for building the documentation
pandocfilters
